---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import TeamMember from '~/components/widgets/TeamMember.astro';

// Import team member data
import {
  claudiuPrecup,
  cristinaBarsan,
  bogdanHerteg,
  elizaPurcaru,
  tatianaOnilov,
  alexandraIoica,
  oanaBaila,
  alexandrinaMitrea,
  alexandrinaAldea,
  iraidaMarginean,
  doinaCostin,
  rominaSopoian,
  laviniaSabou,
  valentinaBozdog,
} from '~/data/team';

// Import all team images
import prClaudiuPrecupImg from '~/assets/images/echipa/pr-claudiu-precup.jpg';
import cristinaBarsanImg from '~/assets/images/echipa/cristina-barsan.jpg';
import bogdanHertegImg from '~/assets/images/echipa/bogdan-herteg.jpg';
import elizaPurcaruImg from '~/assets/images/echipa/eliza-purcaru.jpg';
import tatianaOnilovImg from '~/assets/images/echipa/tatiana-onilov.jpg';
import alexandraIoicaImg from '~/assets/images/echipa/alexandra-ioica.jpg';
import oanaBailaImg from '~/assets/images/echipa/oana-baila.jpg';
import alexandrinaMitreaImg from '~/assets/images/echipa/alexandrina-mitrea.jpg';
import alexandrinaAldeaImg from '~/assets/images/echipa/alexandrina-aldea.jpg';
import iraidaMargineanImg from '~/assets/images/echipa/iraida-marginean.jpg';
import doinaCostinImg from '~/assets/images/echipa/doina-costin.jpg';
import rominaSopoianImg from '~/assets/images/echipa/romina-sopoian.jpg';
import laviniaSabouImg from '~/assets/images/echipa/lavinia-sabou.jpg';
import valentinaBozdogImg from '~/assets/images/echipa/valentina-bozdog.jpg';

const metadata = {
  title: 'Echipa noastră - Școala Teofil',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Echipa noastră" title="Oamenii din spatele Școlii Teofil" />

  <!-- Team Grid Section -->
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-7xl">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Team Member 1: Claudiu Precup -->
      <TeamMember
        id={claudiuPrecup.id}
        title={claudiuPrecup.title}
        tagline={claudiuPrecup.tagline}
        image={prClaudiuPrecupImg}
      >
        <Fragment set:html={claudiuPrecup.content} />
      </TeamMember>

      <!-- Team Member 2: Cristina Bârsan -->
      <TeamMember
        id={cristinaBarsan.id}
        title={cristinaBarsan.title}
        tagline={cristinaBarsan.tagline}
        image={cristinaBarsanImg}
      >
        <Fragment set:html={cristinaBarsan.content} />
      </TeamMember>

      <!-- Team Member 3: Bogdan Herțeg -->
      <TeamMember
        id={bogdanHerteg.id}
        title={bogdanHerteg.title}
        tagline={bogdanHerteg.tagline}
        image={bogdanHertegImg}
      >
        <Fragment set:html={bogdanHerteg.content} />
      </TeamMember>

      <!-- Team Member 4: Eliza Purcaru -->
      <TeamMember
        id={elizaPurcaru.id}
        title={elizaPurcaru.title}
        tagline={elizaPurcaru.tagline}
        image={elizaPurcaruImg}
      >
        <Fragment set:html={elizaPurcaru.content} />
      </TeamMember>

      <!-- Team Member 5: Tatiana Onilov -->
      <TeamMember
        id={tatianaOnilov.id}
        title={tatianaOnilov.title}
        tagline={tatianaOnilov.tagline}
        image={tatianaOnilovImg}
      >
        <Fragment set:html={tatianaOnilov.content} />
      </TeamMember>

      <!-- Team Member 6: Alexandra Ioica -->
      <TeamMember
        id={alexandraIoica.id}
        title={alexandraIoica.title}
        tagline={alexandraIoica.tagline}
        image={alexandraIoicaImg}
      >
        <Fragment set:html={alexandraIoica.content} />
      </TeamMember>

      <!-- Team Member 7: Oana Raluca Băilă -->
      <TeamMember id={oanaBaila.id} title={oanaBaila.title} tagline={oanaBaila.tagline} image={oanaBailaImg}>
        <Fragment set:html={oanaBaila.content} />
      </TeamMember>

      <!-- Team Member 8: Alexandrina Mitrea -->
      <TeamMember
        id={alexandrinaMitrea.id}
        title={alexandrinaMitrea.title}
        tagline={alexandrinaMitrea.tagline}
        image={alexandrinaMitreaImg}
      >
        <Fragment set:html={alexandrinaMitrea.content} />
      </TeamMember>

      <!-- Team Member 9: Alexandrina Aldea -->
      <TeamMember
        id={alexandrinaAldea.id}
        title={alexandrinaAldea.title}
        tagline={alexandrinaAldea.tagline}
        image={alexandrinaAldeaImg}
      >
        <Fragment set:html={alexandrinaAldea.content} />
      </TeamMember>

      <!-- Team Member 10: Iraida Mărginean -->
      <TeamMember
        id={iraidaMarginean.id}
        title={iraidaMarginean.title}
        tagline={iraidaMarginean.tagline}
        image={iraidaMargineanImg}
      >
        <Fragment set:html={iraidaMarginean.content} />
      </TeamMember>

      <!-- Team Member 11: Doina Costin -->
      <TeamMember id={doinaCostin.id} title={doinaCostin.title} tagline={doinaCostin.tagline} image={doinaCostinImg}>
        <Fragment set:html={doinaCostin.content} />
      </TeamMember>

      <!-- Team Member 12: Romina Sopoian -->
      <TeamMember
        id={rominaSopoian.id}
        title={rominaSopoian.title}
        tagline={rominaSopoian.tagline}
        image={rominaSopoianImg}
      >
        <Fragment set:html={rominaSopoian.content} />
      </TeamMember>

      <!-- Team Member 13: Lavinia Sabou -->
      <TeamMember
        id={laviniaSabou.id}
        title={laviniaSabou.title}
        tagline={laviniaSabou.tagline}
        image={laviniaSabouImg}
      >
        <Fragment set:html={laviniaSabou.content} />
      </TeamMember>

      <!-- Team Member 14: Valentina Bozdog -->
      <TeamMember
        id={valentinaBozdog.id}
        title={valentinaBozdog.title}
        tagline={valentinaBozdog.tagline}
        image={valentinaBozdogImg}
      >
        <Fragment set:html={valentinaBozdog.content} />
      </TeamMember>
    </div>
  </section>
</Layout>
